* {
    margin: 0;
    padding: 0;
}

.page1 {
    background-image: url('../main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.navbar {
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding-right: 10%;
}

.nav-link {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

/* .tNavbar:hover {
    background-color: transparent; 
    border: none; 
    color: lightgray;
} */

.page1 h1 {
    text-align: center;
    font-family: arial;
    font-style: bold;
    font-weight: 700;
    font-size: 72px;
    color:#FFFFFF;
    padding-top: 12.5%;
}

.page1 h3 {
    text-align: center;
    font-family: arial;
    font-size: 24px;
    color:#FFFFFF;
    padding-top: 2.5%;
}

.buttonPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5%;
}

.buttonPlay button {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 50px;
    background-color: #FFB548;
    color: black;
}

.textButton {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 10px;
    color:#FFFFFF;
}

.buttonStory {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonStory button {
    background-color: transparent;
    background-image: url('../scroll-down.svg'); 
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    padding: 10px 10px;
}

.page2 {
    background-image: url('../the-games-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.page2 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page2 .carousel{
    height: auto;
    width: auto;
}

.page2 h3 {
    font-family: arial;
    font-size: 24px;
    color: #FFFFFF;
}

.page2 h1 {
    font-family: arial;
    font-size: 56px;
    color: #FFFFFF;
}

.page3 {
    background-image: url('../features.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.page3 .container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;

}

.page3 h3{
    font-family: arial;
    font-size: 24px;
    color: #FFFFFF;
}

.page3 h1{
    font-family: arial;
    font-size: 56px;
    color: #FFFFFF;
}

.page3 .text-f {
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    text-align: left;
}

.page3 .text-fl {
    font-family: arial;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
}

.page4 {
    background-image: url('../requirements.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.page4 .container {
    padding-left: 10%;
}

.page4 .text-r {
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    text-align: left;
}

.page4 .text-rl {
    font-family: arial;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
}

.page4 h3 {
    font-family: arial;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5%;
}

.page4 h1 {
    font-family: arial;
    font-size: 56px;
    color: #FFFFFF;
    text-align: left;
    width: 10%;
    padding-left: 10%;
}

.page5 {
    background-image: url('../top-score-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.page5 h1 {
    font-family: arial;
    font-size: 56px;
    color: #FFFFFF;
    text-align: left;
    width: auto;
    padding-left: 25%;
    padding-top: 25%;
}

.page5 .text-s {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
    width: 80%;
    padding-left: 25%;
}

.page5 .buttonScores button {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 50px;
    background-color: #FFB548;
    color: black;
}

.page5 .buttonScores {
    padding-left: 25%;
}

.page6 {
    background-image: url('../newsletter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.page6 h3{
    font-family: arial;
    font-size: 24px;
    color: #FFFFFF;
    text-align: left;
    padding-top: 5%;
    width: 30%;
}

.page6 h1{
    font-family: arial;
    font-size: 65px;
    color: #FFFFFF;
    text-align: left;
}

.page6 .text-sb{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    width: 80%;
}

.page6 .buttonSubscribe button {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 50px;
    background-color: #FFB548;
    color: black;
}

@media (max-width: 800px) {
    .page1 h1 {
        font-weight: 500;
        font-size: 40px;
    }
    
    .page1 h3 {
        font-size: 18px;
    }
     
    .buttonPlay button {
        font-weight: 500;
        font-size: 10px;
        padding: 7px 35px;
    }
    
    .textButton {
        font-size: 8px;
    } 
    
    .page2 h3 {
        font-size: 18px;
    }
    
    .page2 h1 {
        font-family: arial;
        font-size: 40px;
        color: #FFFFFF;
    }

    .page3 h3{
        font-size: 18px;
    }
    
    .page3 h1{
        font-size: 40px;
    }
    
    .page3 .text-f {
        font-size: 18px;
    }
    
    .page3 .text-fl {
        font-size: 12px;
    }

    .page3 img {
        width: 5px;
        height: 5px;
    }
    
    .page4 .text-r {
        font-size: 16px;
    }
    
    .page4 .text-rl {
        font-size: 12px;
    }
    
    .page4 h3 {
        font-size: 10px;
    }
    
    .page4 h1 {
        font-size: 40px;
    }

    .page5 h1 {
        font-size: 32px;
    }
    
    .page5 .text-s {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .page1 h1 {
        font-weight: 300;
        font-size: 24px;
    }
    
    .page1 h3 {
        font-size: 16px;
    }
     
    .buttonPlay button {
        font-weight: 500;
        font-size: 5px;
        padding: 4px 20px;
    }
    
    .textButton {
        font-size: 5px;
    } 

    .page2 h3 {
        font-family: arial;
        font-size: 16px;
        color: #FFFFFF;
    }
    
    .page2 h1 {
        font-family: arial;
        font-size: 24px;
        color: #FFFFFF;
    }

    .page3 h3{
        font-size: 12px;
    }
    
    .page3 h1{
        font-size: 28px;
    }
    
    .page3 .text-f {
        font-size: 18px;
    }
    
    .page3 .text-fl {
        font-size: 12px;
    }

    .page4 .text-r {
        font-size: 4px;
    }
    
    .page4 .text-rl {
        font-size: 2px;
    }
    
    .page4 h3 {
        font-size: 12px;
    }
    
    .page4 h1 {
        font-size: 32px;
    }

    .page5 h1 {
        font-size: 28px;
    }
    
    .page5 .text-s {
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    .page1 h1 {
        font-weight: 100;
        font-size: 16px;
    }
    
    .page1 h3 {
        font-size: 8px;
    }
     
    .buttonPlay button {
        font-weight: 100;
        font-size: 5px;
        padding: 4px 20px;
    }
    
    .textButton {
        font-size: 5px;
    }

    .page2 h3 {
        font-family: arial;
        font-size: 8px;
        color: #FFFFFF;
    }
    
    .page2 h1 {
        font-family: arial;
        font-size: 16px;
        color: #FFFFFF;
    }

    .page3 h3{
        font-size: 8x;
    }
    
    .page3 h1{
        font-size: 24px;
    }
    
    .page3 .text-f {
        font-size: 14px;
    }
    
    .page3 .text-fl {
        font-size: 6px;
    }

    .page4 .text-r {
        font-size: 4px;
    }
    
    .page4 .text-rl {
        font-size: 2px;
    }
    
    .page4 h3 {
        font-size: 12px;
    }
    
    .page4 h1 {
        font-size: 28px;
    }

    .page5 h1 {
        font-size: 24px;
    }
    
    .page5 .text-s {
        font-size: 10px;
    }
}