<!-- Game's Content -->
<div class="row justify-content-center">
    <!-- Player1 -->
    <div class="col-3">
        <!-- Player1 Label -->
        <div class="row">
            <div class="col">
                <div class="container">
                    <p class="tPlayer1">PLAYER 1</p>
                </div>
            </div>
        </div>

        <!-- Rock -->
        <div class="row align-items-center" style="height: 100px;">
            <div class="col">
                <div class="container">
                    <div class="bP1Rock">
                        <img src="../batu.png" style="width: 96px; height: 69px;">
                    </div>
                </div>
            </div>
        </div>

        <!-- Paper -->
        <div class="row align-items-center" style="height: 150px;">
            <div class="col">
                <div class="container">
                    <div class="bP1Paper">
                            <img src="../kertas.png" style="width: 86px; height: 112px;">
                    </div>
                </div>
            </div>
        </div>

        <!-- Scissors -->
        <div class="row align-items-center" style="height: 150px;">
            <div class="col">
                <div class="container">
                    <div class="bP1Scissors hidden">
                        <img src="../gunting.png" style="width: 100px; height: 120px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Signs -->
    <div class="col-3">
        <div class="container" style="display: flex; align-items: center; justify-content: center; height: 100%;">
            <p class="tSignsWin">COM WIN!</p>
        </div>
    </div>

    <!-- COM -->
    <div class="col-3">
        <!-- COM Label -->
        <div class="row">
            <div class="col">
                <div class="container">
                    <p class="tCOM">COM</p>
                </div>
            </div>
        </div>

        <!-- Rock -->
        <div class="row align-items-center" style="height: 100px;">
            <div class="col">
                <div class="container">
                    <div class="iPCRock hidden">
                        <img src="../batu.png" style="width: 96px; height: 69px;">
                    </div>
                </div>
            </div>
        </div>

        <!-- Paper -->
        <div class="row align-items-center" style="height: 150px;">
            <div class="col">
                <div class="container">
                    <div class="iPCPaper">
                        <img src="../kertas.png" style="width: 86px; height: 112px;">
                    </div>
                </div>
            </div>
        </div>

        <!-- Scissors -->
        <div class="row align-items-center" style="height: 150px;">
            <div class="col">
                <div class="container">
                    <div class="iPCScissors">
                        <img src="../gunting.png" style="width: 100px; height: 120px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>