        <!-- Refresh -->
        <div class="row align-items-center" style="height: 100px;">
            <div class="container">
                <form method="post" action="/restart">
                    <button class="bRefresh" type="submit">
                        <img src="../refresh.png" style="width: 77px; height: 71px;">
                    </button>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>